@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}

.container{
   /* width: fit-content;*/
    display: flex;
    flex-direction: column;
    
    
    padding:0px;
    margin: 0px;
}
.sidebar{
    background-color: rgb(41, 64, 65);
    height: 35px;
    width:100%;
    /*position:fixed;*/
}
.sidebar ul{
    margin: 0px;
    display: flex;
    padding-top:8px;
    padding-left: 0px;
}
.sidebar ul li{
    list-style: none;
}
.sidebar a{
    text-Decoration: none;
     margin: 0px 22px;
     padding: 0px 0px;
     color: white;
     font-family: 'Abel', sans-serif;
}


#sec1{
    height:800px;
    /*background-color: blueviolet;*/
    width:100%;
    background-image: url("imgs/first.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.first{
    /*background-color: red;*/
   /* margin: 37px;
    margin-top: 35px;*/ 
    padding-top: 140px;
    padding-left: 50px;
    color: antiquewhite;
    
    font-family: 'Source Code Pro', monospace;
}
.hi{
    font-size: 80px;

}
.iam{
    font-size: 55px;
    font-weight: bold;
    font-family: Iceberg;

}
.vfx{
    font-size: 35px;
}
#sec11{
    height:650px;
    width:100%; 
    
}
.backimg{
    position: absolute;
    width: 100%;
    
}
.backimg img{
    height: 650px;
    width: -webkit-fill-available;
    position: inherit;
    filter: blur(5px);

}
.shhd{
    font-size: 45px;
    padding-left: 100px;
    position: relative;
    color: azure;
    font-family:'Source Code Pro', monospace ;
}

.vidc{
    height:415px;
    padding: 0px 150px;
    position: relative;
}
.vidc iframe{
    width: 100%;
    max-width: 680px;
    height: inherit;
    min-width: 320px;
}
#sec2{
    height:1500px;
    /*background-color:blue;*/

    width:100%;
    background-image: url("imgs/second.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;


   
}
.second{
    /*background-color: aqua;*/
    max-height:465px;
    max-width: 850px;
    font-family: 'Abel', sans-serif;

    
}
.cvcontent{
    padding: 20px;
    color:rgba(255,255,255,.9);
}
.wtspace{
    padding: 35px;


}
.abtme{
    padding-left: 50px;
}
.lne0{
    padding-left: 50px;
}
.lne1{
    padding-left: 50px;
}
.lne2{
    padding-left: 50px;
}
.lne3{
    padding-left: 50px;
}
.imgc{
    display: flex;
    padding:20px;
    color: rgba(255,255,255,.9);
    /*background-color: brown;*/
}
.pt{
    padding-left: 50px;
    margin-right:50px;
}
.mt{
    padding: 0px 70px;
}
.pt img{
    width: 250px;
   
    
}
#sec3{
    color: antiquewhite;
    height:800px;
    display: inline-block;
    width:100%;
    
}
.image{
    position: absolute;
    width:100%;
}
.hd{
    font-size: 30px;
    margin-top: 120px;
    padding: 0px 350px;
    position: relative;
    color: aliceblue;
    font-family: 'Abel', sans-serif;
}
.hd h2{
    
}
.image img{
    height:800px;
    position: relative;
    width: -webkit-fill-available;
}

.sldr{

    height: 500px;
    width:900px;
    margin-left: 350px;
  
    overflow: hidden;
    display: flex;
    
}
.phto img{
    width: 300px;
    height:445px;
    position: relative;
    -webkit-animation-name: slid;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}

@-webkit-keyframes slid{
    0%{
        left:0px;
    }
    5%{
        left:-300px;
    }
    10%{
        left:-600px;
    }
    15%{
        left:-900px;
    }
    20%{
        left:-1200px;
    }
    25%{
        left:-1500px;
    }
    30%{
        left:-1800px;
    }
    35%{
        left:-2100px;
    }
    40%{
        left:-2400px;
    }
    45%{
        left:-2700px;
    }
    50%{
        left:-3000px;
    }
    55%{
        left: -3300px;
    }
    60%{
        left:-3600px;
    }
    65%{
        left:-3900px;
    }
    70%{
        left:-4200px;
    }
    75%{
        left:-4500px;
    }
    80%{
        left:-4800px;
    }
    85%{
        left:-5100px;
    }
    90%{
        left:-5400px;
    }
    100%{
        left:0px;
    }
    
}


/*@media (max-width:1355px)  {
    .sldr{
    
        height: 300px;
        width:450px;
        margin-left: 20px;
      
        overflow: hidden;
        display: flex;
        
    }
    .phto img{
        width: 150px;
        height:222px;
        position: relative;
        -webkit-animation-name: slid;
        -webkit-animation-duration: 30s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
    }
    
    @-webkit-keyframes slid{
        0%{
            left:0px;
        }
        5%{
            left:-150px;
        }
        10%{
            left:-300px;
        }
        15%{
            left:-450px;
        }
        20%{
            left:-600px;
        }
        25%{
            left:-750px;
        }
        30%{
            left:-900px;
        }
        35%{
            left:-1050px;
        }
        40%{
            left:-1200px;
        }
        45%{
            left:-1350px;
        }
        50%{
            left:-1500px;
        }
        55%{
            left: -1650px;
        }
        60%{
            left:-1800px;
        }
        65%{
            left:-1950px;
        }
        70%{
            left:-2100px;
        }
        75%{
            left:-2250px;
        }
        80%{
            left:-2400px;
        }
        85%{
            left:-2550px;
        }
        90%{
            left:-2700px;
        }
        100%{
            left:0px;
        }
        
    }
        

}*/

#sec4{
    height:800px;
    /*background-color: papayawhip;*/
    width:100%;
    background-image: url("imgs/third.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mail{
    padding:20px;
    /*background-color: darkgoldenrod;*/
    height:700px;
    padding: 160px 120px;
    margin: 0px 180px;
    color: wheat;

}
form{
    width: fit-content;
}
.dtls input{
   padding: 10px 0px;

}
.f-nam{
    display: inline-table;
    margin-right: 45px;
}
.f-nam input{
    width: 210px;
}
.s-nam input{
    width: 210px;
}

.s-nam{
    display: inline-table;
}
.mbox input{
    width: 475px;
}
.msgbox textarea{
    width: 480px;
    min-height: 100px;
    resize: vertical;
    box-sizing: border-box;
}
.sbmt{
    margin-top: 15px;
    border-width: medium;
    border-color: aliceblue;
    background-color: transparent;
    color: aliceblue;
}
@media (max-width:800px) {
    .sidebar ul{
        font-size: 13px;
    }
    .hd{
        margin: 10px;
        font-size: 10px;
        padding: 0px;
    }
.sldr{
        /* display: grid; */
    /* margin-left: 62px; */
    padding-left: 34px;
    flex-wrap: wrap;
    max-width: 350px;
    height: 732px;
    margin: 0px;
}    
.phto img{
    -webkit-animation-iteration-count: 0;
    max-width: 71px;
    max-height: 95px;
    margin: 0px 2px;
    
}

.cvcontent{
    
}
.shhd{
    padding: 12px;
}
.vidc{
    padding: 15px;
    padding-top: 70px;
}

.vidc iframe{
    max-height: 250px;
}
#sec2{
    height: 1700px;
}

.imgc{
    display: contents;
}
.pt h3,.pt h5{
    display: none;
}
.pt{
    padding-left: 70px;
}
.mt{

    font-size: 0.90rem;
}
.imgc img{
    width: 100px;
}
.mail{
    margin: 0px;
    padding: 0px;
}
form{
    padding-top: 100px;
}
.dtls{
    margin-left: 18px;
}
.f-nam{
    margin-right: 20px;
}
.f-nam input{
    width: 140px;
}
.s-nam input{
    width: 140px;
}
.dtls input{
    padding: 8px 0px;
    
}
.mbox{
    width: 312px;
}
.mbox input{
    width: 100%;
}
.msgbox{
    width: 314px;
}
.msgbox textarea{
    width:100% ;
}


}




